<%- include('../layouts/head.ejs') %>
        <title><%= docTitle %></title>
    </head>
    <body>
        <%- include('../layouts/navigation.ejs') %>
        <main>
            <h1>Nothing there..</h1>
        </main>
        <%- include('../layouts/end.ejs') %></body>