.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 1px solid #3e00a1;
    font: inherit;
    border-radius: 2px;
    padding: 0.45rem;
    margin-top: 0.25rem;
}

.form-control input:focus-visible {
    outline: 2px solid rgb(62, 174, 248);
}

button {
    font: inherit;
    border: 1px solid #3e00a1;
    color: #3e00a1;
    cursor: pointer;
    padding: 0.5rem;
    background: white;
    border-radius: 3px;
}

button:hover,
button:active {
    background-color: #3e00a1;
    color: white;
}
